/*
Syntax error: Undefined variable: "$base-font-size".
        on line 4 of /data/home/likaixiang/istyle/sass/utils.scss

1: /data/home/likaixiang/istyle/sass/utils.scss

Backtrace:
/data/home/likaixiang/istyle/sass/utils.scss:4
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/script/variable.rb:49:in `_perform'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/script/node.rb:40:in `perform'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/script/operation.rb:74:in `_perform'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/script/node.rb:40:in `perform'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:327:in `visit_variable'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/tree/root_node.rb:20:in `render'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/engine.rb:315:in `_render'
/home/likaixiang/gems/gems/sass-3.2.7/lib/sass/../sass/engine.rb:262:in `render'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/usr/lib64/ruby/site_ruby/1.8/rubygems/custom_require.rb:36:in `to_proc'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `modified'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `run'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `run'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/home/likaixiang/gems/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/likaixiang/gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/likaixiang/gems/gems/compass-0.12.2/bin/compass:30
/home/likaixiang/gems/gems/compass-0.12.2/bin/compass:44:in `call'
/home/likaixiang/gems/gems/compass-0.12.2/bin/compass:44
/home/likaixiang/gems/bin/compass:19:in `load'
/home/likaixiang/gems/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$base-font-size\".\A         on line 4 of /data/home/likaixiang/istyle/sass/utils.scss\A \A 1: /data/home/likaixiang/istyle/sass/utils.scss"; }
